$navLinkColor: #08090A;
$primaryColor: #8CC5F9;
$selectColor: #4F4F4F;
$textColor: #4F5665;
$buttonShadow: rgba(95, 122, 126, 0.22);
$resultColor: #0B132A;
$productColor: #FBFBFB;
$footerTextColor: #BDBDBD;
$footerBottomColor:#AFB5C0;
$footerColor: #F8F8F8;